.yo {
    border: 3px solid grey;
}

.footer {
    position: sticky;
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: none;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    
  }

  body {
      background-image: url(../images/pattern.png);
  }

  section {
      box-shadow: 4px 4px 5px grey;
  }

  p {
      font-family: 'Lato', sans-serif;
  }



  @media only screen and (max-width: 1201px) {
    .footer {
     position: relative;
     bottom: -70px;
    }
  }

  
  @media (min-width: 992px) and (max-width: 1200px) {
    .footer {
     position: relative;
     bottom: -295px;
    }
  }

  @media (min-width: 720px) and (max-width: 992px) {
    .footer {
     position: relative;
     top: 295px;
    }
  }

  @media (min-width: 0px) and (max-width: 720px) {
    .footer {
     position: relative;
     top: 295px;
    }
  }